{% block content %}
            <nav id="nav">
                <ul class="menu">
                    <li class="dop-menu">
                        <a href="/catalog.html">КАТАЛОГ</a>
                        <!-- Вывод товарных групп -->
                        <ul>
                            <li>
                                <a href="/catalog-group.html">Товарная группа 1</a>
                            </li>
                            <li>
                                <a href="/catalog-group.html">Товарная группа 2</a>
                            </li>
                            <li>
                                <a href="/catalog-group.html">Товарная группа 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/statii.html">СТАТЬИ</a>
                    </li>
                    <li>
                        <a href="/news.html">НОВОСТИ</a>
                    </li>
                    <li>
                        <a href="/gosts.html">ГОСТы</a>
                    </li>
                    <li>
                        <a href="/contacts.html">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>
{% endblock %}